<template>
  <q-page padding>
    <h4>Dashboard</h4>
    <div v-if="elevatorSystem">
      <elevators-position
        :elevators="elevatorSystem.elevators"
        :totalElevators="elevatorSystem.totalElevators"
        :maxFloors="elevatorSystem.maxFloors"
      />
      <p>
        Total floors covered by request:
        {{ elevatorSystem.totalFloorsByRequest }}
      </p>
      <p>Total floors maximum: {{ elevatorSystem.maxFloors }}</p>
      <h6>Next requests</h6>

      <q-banner
        inline-actions
        rounded
        class="bg-orange q-mb-sm text-white"
        v-for="(c, index) in countdownIntervals"
        :key="index * 2"
      >
        {{ c }} seconds remaining
      </q-banner>
    </div>
  </q-page>
</template>

<script lang="ts">
import ElevatorsPosition from 'src/components/ElevatorsPosition.vue';
import { ElevatorRequestsDTO } from 'src/domain/dtos/ElevatorRequestsDTO';
import { Vue, Component } from 'vue-property-decorator';
import { mapGetters } from 'vuex';
import { ElevatorSystem } from '../domain/ElevatorSystem';

@Component<DashboardPage>({
  components: {
    ElevatorsPosition
  },
  computed: {
    ...mapGetters('elevatorSystemModule', {
      elevatorSystem: 'getElevatorSystem',
      countdownIntervals: 'getCountdownIntervals',
      isFirstTime: 'getIsFirstTime'
    })
  }
})
export default class DashboardPage extends Vue {
  elevatorSystem!: ElevatorSystem;
  countdown!: number[];
  countdownIntervals!: number[];
  isFirstTime!: boolean;

  countDownTimer(index: number) {
    if (this.countdownIntervals[index] == 0) {
      this.$store.commit('elevatorSystemModule/setInitialInterval', index);
    }
    setTimeout(() => {
      let value = this.countdownIntervals[index];
      this.$store.commit('elevatorSystemModule/setInterval', {
        position: index,
        value: value - 1
      });
      this.countDownTimer(index);
    }, 1000);
  }

  mounted() {
    void this.$store.dispatch('elevatorSystemModule/getElevatorSystem');

    if (this.isFirstTime) {
      this.countdownIntervals.forEach((c, index) => this.countDownTimer(index));
      this.$store.commit('elevatorSystemModule/setIsFirstTime', false);
      //set interval requests
      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 0,
                floorDestination: 2
              }
            ]
          }),
        60000 * 5
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 0,
                floorDestination: 3
              }
            ]
          }),
        60000 * 5
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 0,
                floorDestination: 1
              }
            ]
          }),
        60000 * 10
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 0,
                floorDestination: 1
              },
              {
                requestedFloor: 0,
                floorDestination: 2
              },
              {
                requestedFloor: 0,
                floorDestination: 3
              }
            ]
          }),
        60000 * 20
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 1,
                floorDestination: 0
              },
              {
                requestedFloor: 2,
                floorDestination: 0
              },
              {
                requestedFloor: 3,
                floorDestination: 0
              }
            ]
          }),
        60000 * 4
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 2,
                floorDestination: 0
              },
              {
                requestedFloor: 3,
                floorDestination: 0
              }
            ]
          }),
        60000 * 7
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 0,
                floorDestination: 1
              },
              {
                requestedFloor: 0,
                floorDestination: 3
              }
            ]
          }),
        60000 * 7
      );

      setInterval(
        () =>
          this.pickUp({
            elevatorRequests: [
              {
                requestedFloor: 1,
                floorDestination: 0
              },
              {
                requestedFloor: 2,
                floorDestination: 0
              },
              {
                requestedFloor: 3,
                floorDestination: 0
              }
            ]
          }),
        60000 * 3
      );
    }
  }

  pickUp(elevatorRequests: ElevatorRequestsDTO) {
    void this.$store.dispatch(
      'elevatorSystemModule/pickUpElevatorAndGetElevatorSystem',
      elevatorRequests
    );
  }
}
</script>
