<template>
  <q-page padding>
    <div class="">
      <h5>Elevator system control</h5>
    </div>
    <div class="">
      <h6 class="mb-0">Description</h6>
      <p>
        This is a platform to control the status of the elevators in each
        request. In certain time intervals, requests are made indicating the
        floor of origin and the floor to which you want to reach.
      </p>
    </div>

    <p>These are the intervals that were set for this system:</p>
    <q-banner rounded class="bg-grey-3">
      <ul>
        <li>
          Every 5 minutes from 09:00 a.m. to 11:00 a.m. they call the elevator
          from the ground floor to go to floor 2.
        </li>
        <li>
          Every 5 minutes from 09:00 to 11:00 they call the elevator from the
          ground floor to go to floor 3.
        </li>
        <li>
          Every 10 minutes from 09:00 to 10:00 they call the elevator from the
          ground floor for at floor 1.
        </li>
        <li>
          Every 20 minutes from 11:00 to 18:20 they call the elevator from the
          ground floor to go to all the plants.
        </li>
        <li>
          Every 4 minutes from 2:00 p.m. to 3:00 p.m. they call the elevator
          from floors 1, 2 and 3 to go on the ground floor.
        </li>
        <li>
          Every 7 minutes from 3:00 p.m. to 4:00 p.m. they call the elevator
          from floors 2 and 3 to go to downstairs.
        </li>
        <li>
          Every 7 minutes from 3:00 p.m. to 4:00 p.m. they call the elevator
          from the ground floor to go to floors 1 and 3.
        </li>
        <li>
          Every 3 minutes from 6:00 p.m. to 8:00 p.m. they call the elevator
          from floors 1, 2 and 3 to go on the ground floor.
        </li>
      </ul>
    </q-banner>
    <p class="q-mt-sm">
      In the <a href="#/dashboard">dashboard</a> section you can see the current
      status of the elevators in each request.
    </p>
    <h6>Technologies</h6>
    <ul>
      <li>
        Quasar
      </li>
    </ul>
    <h6>Solution</h6>
    <p>
      The system receives a list of requests, they are processed by adding the
      floors to a priority queue, the closest elevator is selected and the
      journey begins.
    </p>
    <div>
      <small>Example of request:</small>
    </div>
    <img src="~assets/code.png" />
    <h6>Requirements</h6>
    <ul>
      <li>
        Clone this repo:
        <a
          href="https://bitbucket.org/fabricioloupias/elevator-system-node/"
          target="_blank"
          >https://bitbucket.org/fabricioloupias/elevator-system-node/</a
        >
      </li>
      <li>
        Run system
      </li>
    </ul>
    <h6>Improvements</h6>
    <ul>
      <li>
        Accept requests between floor runs.
      </li>
      <li>
        Location of elevators in real time.
      </li>
      <li>
        Synchronize clock optimally for the interval of requests.
      </li>
    </ul>
    <h6>Autor</h6>
    <p>
      This project was made by
      <a href="https://portfolio-fabricio-loupias.web.app/" target="_blank">
        Fabricio Loupias</a
      >. You can find the repository
      <a
        href="https://bitbucket.org/fabricioloupias/elevator-system-vue/src/v0.1.0-RC2/"
        target="_blank"
        >here</a
      >, current version v0.1.0-RC2
    </p>
  </q-page>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';

@Component({
})
export default class PageIndex extends Vue {}
</script>
