<template>
  <div>
    <!-- <q-table :data="elevators" :columns="columns" row-key="name" /> -->
    <q-table
      grid
      title="Information"
      :data="elevators"
      :columns="columns"
      row-key="name"
      hide-header
      hide-pagination
    >
    </q-table>
  </div>
</template>

<script lang="ts">
import { Elevator } from 'src/domain/Elevator';
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component<ElevatorsPosition>({
})
export default class ElevatorsPosition extends Vue {
  @Prop({ type: Array, required: true }) readonly elevators!: Elevator[];
  @Prop({ type: Number, required: true }) readonly maxFloors!: number;
  @Prop({ type: Number, required: true }) readonly totalElevators!: number;
  floors!: number[];

  columns = [
    {
      name: 'Elevator',
      required: true,
      label: 'Elevator ID',
      align: 'left',
      field: 'id'
    },
    {
      name: 'Current floor',
      align: 'left',
      label: 'Current floor',
      sortable: true,
      field: 'currentFloor'
    },
    {
      name: 'Count floors by request',
      align: 'left',
      label: 'Count floors by request',
      sortable: true,
      field: 'countFloors'
    }
  ];
}
</script>
